*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
}

.header {
  width: 100vw;
  padding: 10px;
  margin: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.mainArea {
  display: flex;
  width: 100vw;
}

#productsSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 65vw;
}

.productWrapper {
  max-width: 200px;
  border: 1px solid rgb(165, 164, 164);
  margin: 10px 13px 15px 13px;
}

img {
  max-height: 180px;
  width: 100%;
  object-fit: contain;
  margin-top: 9px;
  margin-bottom: 15px;
}

.productDescription {
  background-color: rgb(201, 197, 197);
  font-size: small;
}

.productDescription > p {
  padding: 8px 0 5px 6px;
}

.priceRow {
  display: flex;
  justify-content: space-around;
}

.priceRow > :first-child {
  text-decoration: line-through red;
}

/* .priceRow > span {
  margin: 1px 5px 1px 5px;
} */

button {
  border-radius: 3px;
  padding: 4px;
  border: 0.3px solid black;
  margin-bottom: 7px;
}

.cart {
  width: 35vw;
}

.title {
  display: flex;
  justify-content: space-around;
}
